# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/


# Java / JAR files
*.jar
*.war
*.ear

# Jupyter Notebooks
*.ipynb

databases_query.ipynb

# Docker Volumes
volumes/
data/

# Airflow Logs
logs/
*.log

# Hive/Iceberg Metastore 
metastore_db/
derby.log

# Spark Checkpoints
checkpoints/
*.checkpoint

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
*.tmpjars/
jars/
notebooks/.ipynb_checkpoints/
README - Copy.md
1.py
